version: "3.9"

services:
  web:
    build: .
    container_name: campaign_management
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
      - redis

  db:
    image: postgres:15
    container_name: campaign_manager
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: campaign_redis

volumes:
  postgres_data:
